/* estilos de la pagina de Recetaws */
.container{
  background-color: #222222;
  padding: 0px;
  gap: 0px;
  width: auto;
  height: 100vh;
}
.scroll-container::-webkit-scrollbar{
  width: 5px; 
}
.scroll-container::-webkit-scrollbar-track{
  background-color: #222222;
}
.scroll-container::-webkit-scrollbar-thumb{
  background-color: rgba(244, 244, 246, 0.218);  
  border-radius: 20px;       
  border: 1px solid rgb(255, 255, 255);
}